.Fjos {
    text-align: center;
  }
  

  .header{
      
  }
  .Fjos-header {
    margin-top: 70px;
    background-color: #990000;
    display: flex;
    flex-direction: column;
    /* align-items: top; */
    /*justify-content: top;*/
    font-size: calc(10px + 2vmin);
    color: white;
  }

  #Fjos-h1 {
      padding-top: 75px;
  }

  .Container {
    background-color: lightgrey;
    width: auto; 
    height: 600px;
  }

  #First-column{
    background-color: rgb(140, 171, 172);
    height: 200px;
    width: 100px;
  }

